#landing {
  border: 1px solid black;
  height: 200px;
}

.box {
  border: 1px solid black;
}

#landing-div{
  background-image: url('../images/best_ever.jpg'); 
  height: 38vh;
  min-height: 400px;
  width: 100%; 
  background-size: cover;
  background-position: center;
}

#landing-div-title{
  position: absolute; 
  bottom: 34%; 
  left: 4%; 
  padding: 20px; 
  color: rgb(0, 0, 0);
}
hr{
  width: 70%; 
  height: 1px; 
  border:none;
  color:#333;
  background-color:#333; 
  margin-left: auto; 
  margin-right: auto;
}
#aboutme{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f1f5f9;
}
.scrolled-navbar{
  background-color: black;
  color: #ffffff;
  box-shadow: 0, 3px, 10px, rgba(0, 0, 0, 0.15);
}
#services{
  width: 100%;  
  padding-top: 7vh; 
  padding-bottom: 5%;  
}


.smooth-transition{
  transition: all 0.5s ease;
}
.nav-element{
  color:black;

}
.scrolled-nav-element{ 
  color:white;

}
.nav-bar {
   /* change the height as desired */
  min-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
@media (min-width: 1023px) {
  #services {
    height: 92vh;
    min-height: 600px; 
  }
  #aboutme{
    height: 92vh; 
    min-height: 600px; 
  }
  #landing-div{
    height: 100vh; 
    min-height: 400px; 
  }
}
